<div class='row'>
  <div class='col-md-4'>
    <%= bootstrap_form_for(@host) do |f| %>
      <%= f.text_field :firstname %>
      <%= f.text_field :lastname %>
      <%= f.text_field :address %>
      <%= f.number_field :zipcode %>
      <%= f.text_field :city %>
      <%= f.text_field :phone %>
      <%= f.number_field :capacity %>
      <%= f.text_area :comments %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
</div>


