<!--Initializing menygreier???-->
<!--
<header class="promo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <h1 id="promo-text" class="hidden">
          <span class="gray">7. til 17. februar kommer 450 studenter til Trondheim.</span><br>
          <span class="gray">De trenger et sted å bo.</span>
        </h1>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</header>-->
<div id="content-wrapper">
<section id="become">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bigtext">
        <!--<h2><a href="http://www.isfit.org/hosts">Jeg vil bli vert!</a></h2>-->
        <h2><%= link_to "Jeg vil bli vert!", new_host_path %></h2>
        <p>Du kan registrere deg helt frem til <span class="special">6. februar</span>. Å være vert er verdt det!</p>
        <p>Har du spørsmål om å være vert?<br>
          Send en e-post til <a href="mailto:verter@isfit.org">verter@isfit.org</a></p>
          <%= link_to "Registrer deg her", new_host_path, class: "btn btn-large btn-primary" %>
      </div>
      <div class="col-md-6">
        <%= image_tag("workshop.jpg",:class => "graphic2")%>
      </div>
    </div>
  </div>
</section>

  <div class="container">
      <div class= "col-md-3">
        <div class="sidebar">
            <nav class="navbar navbar-default navbar-left" role="navigation">
              <div class="div-sidebar collapse navbar-collapse" id="collapsemenu">
                <ul class="nav nav-left">

                  <li class="sidebar-link"><a href="yolo"></i>Bli vert</a></li>
                  <li class="sidebar-link"><a href="yoloto"></i>heihei</a></li>

                
                </ul>
              </div>
            </nav>
          </div>
    </div>
  </div>

<section id="what">
  <div class="container">
      <div class="row">
        <div class="col-md-9">
          <!--<div class="span6 bigtext">-->
          <div class = "bigtext">
            <h1>Hva er egentlig dette?</h1>
            <p>ISFiT arrangeres annethvert år, og hver festival har et tema av sosial og politisk karakter med internasjonal relevans. Teamet for ISFiT 2013 er global handel, og festivalen finner sted i Trondheim 7.-17. februar. Her møtes over 450 studenter fra hele verden for å diskutere temaet i 17 ulike workshoper, og for å ta del i festivalens kulturprogram. ISFiT er en ideell organisasjon og arrangeres ved hjelp av innsatsen til over 400 engasjerte Trondheimsstudenter.</p>
          </div>
          <!--<div class="span6">-->

          <!--<div class= "col-md-6 bigtext">
            <iframe id="infofilm" class="graphic" src="http://player.vimeo.com/video/53368840?title=0&amp;byline=0&amp;portrait=0&amp;color=d6351a" width="580" height="326" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>>-->
        

        <p class="big center bottom">For å gjennomføre ISFiT trenger vi 450 sengeplasser, og vi er helt avhengig av Trondheims mange husrom og snille sjeler som vil la en student bo hos dem i 10 dager.</p>
    </div>
    </div>
  </div>
</section>





<!--<img src="..." alt="..." class="img-rounded">-->
<section id="why">
  <div class="container">
    <div class="col-md-9">
      <h1 class="big center">
        Hvorfor skal jeg bli vert?
      </h1>
      <div class="row">
        <div class="col-md-3">
          <%= image_tag("kultur.jpg",:class => "round",:size =>"200x200")%>
          <!--<img src="/images/kultur.jpg" alt="" class="img-rounded" >-->
          <h1 class="center">Møt en ny kultur</h1>
          <p class="center">I februar samler vi hele verden i Trondheim, dette er din sjanse til å oppleve noe annerledes.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag("venn.jpg",:class => "round",:size =>"200x200")%>
          <!--<img src="venn.jpg" alt="" class="img-rounded" >-->
          <!--<img class="round" src="/images/venn.jpg">-->
          <h1 class="center">Få en venn for livet</h1>
          <p class="center">Her er mulighetene mange til å stifte unike vennskap. Kanskje får du en framtidig statsleder sovende på din sofa?</p>
        </div>
        <div class="col-md-3">
          <%= image_tag("eventyr.jpg",:class => "round",:size =>"200x200")%>
          <!--<img src="kultur.jpg" alt="" class="img-rounded" >-->
          <!--<img class="round" src="eventyr.jpg">-->
          <h1 class="center">Vinterens eventyr</h1>
          <p class="center">Oppleve en februar du aldri vil glemme, og hjelp oss gjøre ISFiT mulig!</p>
        </div>
      </div>
      
      <blockquote class="col-md-9">
        <p>Jeg har hatt personer fra Rwanda, USA, Israel, Tyrkia og fra det tidligere Jugoslavia boende hos meg. Det har alltid vært en artig opplevelse. Man får møte folk fra andre kulturer og høre hva de tenker om sitt hjemland, og ikke minst hva de synes om oss nordmenn.</p>
        <small>Trygve Bragstad, 5. gang ISFiT-vert</small>
      </blockquote>
   
    </div>
  </div>
</section>

<section id="do">
  <div class="container">
      <div class="col-md-9">
        <h1 class="big center">
          Hva må jeg gjøre?
        </h1>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <%= image_tag("seng.png",:class => "round",:size =>"270x270")%>
            <h1 class="center">Seng</h1>
            <p class="center">Alt du trenger er en ekstra seng, sofa eller kun gulvplass, så stiller vi med madrassen(e).</p>
          </div>
            <div class="col-md-2">
          </div>
          <div class="col-md-3">
            <%= image_tag("osteskive.png",:class => "round",:size =>"270x270")%>
            <h1 class="center">Frokost</h1>
            <p class="center">Du stiller med en enkel frokost, vi dekker alle andre måltider.</p>
          </div>
        </div>
        <div>
          <p class="big center bottom">Deltakerne er opptatt størsteparten av dagen, med workshop på dagtid og kulturprogram på kvelden.</p>
        </div>
    </div>
  </div>
</section>



</div> <!-- End content wrapper -->
