
  <div id="content-wrapper">

    <section id="welcome">
      <div class="container">
        <div class="row">
          <div class="col-md-9 forside">
            <div class="bigtext" >
              <h1>Verdt å være vert!</h1>
            </div>
          </div>
          <div class="col-md-3 sidebar visible-lg">
            <nav role="navigation">
              <ul class="nav nav-left" id="test">
                <li class="sidebar-link"><a href="#welcome"></i><b>Verdt å være vert</b></a></li>
                <li class="sidebar-link"><a href="#become"></i><b>Bli vert</b></a></li>
                <li class="sidebar-link"><a href="#what"></i><b>Hva er egentlig dette?</b></a></li>
                <li class="sidebar-link"><a href="#why"></i><b>Hvorfor skal jeg bli vert?</b></a></li>
                <li class="sidebar-link"><a href="#do"></i><b>Hva må jeg gjøre?</b></a></li>
                <li class="sidebar-link"><p href="#btn_side"></i><b> <%= link_to "Registrer deg her", new_host_path, class: "btn btn-primary" %></b></p></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <blockquote style="margin-top: 300px; background-color:rgba(204, 204, 204, 0.6);" class="col-md-12">
                <p>Jeg har hatt personer fra Rwanda, USA, Israel, Tyrkia og fra det tidligere Jugoslavia boende hos meg. Det har alltid vært en artig opplevelse. Man får møte folk fra andre kulturer og høre hva de tenker om sitt hjemland, og ikke minst hva de synes om oss nordmenn.</p>
                <small>Trygve Bragstad, 5. gang ISFiT-vert</small>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section> 


    <section id="become">
      <div class="container">
        <div class="row">
          <div class="col-md-4 bigtext">
            <h2><%= link_to "Jeg vil bli vert!", new_host_path, class: 'vert-button' %></h2>
            <p>Du kan registrere deg helt frem til <span class="special">4. februar 2015</span>. Å være vert er verdt det!</p>
            <p>Har du spørsmål om å være vert?<br>
              Send en e-post til <a class="vert-button" href="mailto:verter@isfit.org">verter@isfit.org</a></p>
              <%= link_to "Registrer deg her", new_host_path, class: "btn btn-large btn-primary" %>
            </div>
            <div class="col-md-5 visible-lg">
              <%= image_tag("workshop.jpg",:class => "graphic2", width: '100%')%>
            </div>
        </div>
      </div>
      </section>


        <section id="what">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class = "bigtext">
                  <h1>Hva er egentlig dette?</h1>
                  <p>ISFiT arrangeres annethvert år, og hver festival har et tema av sosial og politisk karakter med internasjonal relevans. Teamet for ISFiT 2015 er korrupsjon, og festivalen finner sted i Trondheim 5.-15. februar. Her møtes over 450 studenter fra hele verden for å diskutere temaet i 17 ulike workshoper, og for å ta del i festivalens kulturprogram. ISFiT er en ideell organisasjon og arrangeres ved hjelp av innsatsen til over 400 engasjerte Trondheimsstudenter.</p>
                </div>
            <div style="text-align: center;">
              <iframe width="420" height="315" src="//www.youtube.com/embed/fNVuKXrFItI" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class = "bigtext">
              <p>For å gjennomføre ISFiT trenger vi 450 sengeplasser, og vi er helt avhengig av Trondheims mange husrom og snille sjeler som vil la en student bo hos dem i 10 dager.</p>
            </div>
          </div>
        </div>
      </div>
    </section>





    <section id="why">
      <div class="container">
        <h1 class="big">
          Hvorfor skal jeg bli vert?
        </h1>
        <div class="row">
          <div class="col-md-3 bigtext">
            <%= image_tag("kultur.jpg", width: '100%', class: 'visible-lg')%>
            <h1 class="center">Møt en ny kultur</h1>
            <p class="center">I februar samler vi hele verden i Trondheim, dette er din sjanse til å oppleve noe annerledes.</p>
          </div>
          <div class="col-md-3 bigtext">
            <%= image_tag("venn.jpg", width: '100%', class: 'visible-lg')%>
            <h1 class="center">Få en venn for livet</h1>
            <p class="center">Her er mulighetene mange til å stifte unike vennskap. Kanskje får du en framtidig statsleder sovende på din sofa?</p>
          </div>
          <div class="col-md-3 bigtext">
            <%= image_tag("eventyr.jpg", width: '100%', class: 'visible-lg')%>

            <h1 class="center">Vinterens eventyr</h1>
            <p class="center">Oppleve en februar du aldri vil glemme, og hjelp oss gjøre ISFiT mulig!</p>
          </div>
        </div>
      </div>
    </section>

    <section id="do">
      <div class="container">
        <h1 class="big">
          Hva må jeg gjøre?
        </h1>
        <div class="row">
          <div class="col-md-4 center bigtext ">
            <%= image_tag("Sengen.gif",:class => "round", width: '100%', class: 'visible-lg')%>
            <h1 class="center">Seng</h1>
            <p class="bigtext">Alt du trenger er en ekstra seng, sofa eller kun gulvplass, så stiller vi med madrassen(e).</p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-4 center bigtext ">
            <%= image_tag("Frokost.gif",:class => "round", width: '100%', class: 'visible-lg')%>
            <h1 class="center">Frokost</h1>
            <p class="bigtext">Du stiller med en enkel frokost, vi dekker alle andre måltider.</p>
          </div>
          <div class="col-md-9">
            <p class="big ">Deltakerne er opptatt størsteparten av dagen, med workshop på dagtid og kulturprogram på kvelden.</p>
          </div>
        </div>
      </div>
    </section>
  </div> <!-- End content wrapper -->

 