

<div class="container newhost" id = "content-wrapper">
  <div class = "col-md-6 bigtext">
    <div class="alert alert-success" role="alert"><p><b>Du er registrert!</b> Du vil nå motta en mail innen kort tid med mer informasjon.</p></div>
    <p id="notice"><%= notice %></p>
    <p><b>Navn: </b><%= @host.firstname %> <%= @host.lastname %> </p>
    <p><b>Epost: </b><%= @host.email %> </p>
    <p><b>Telefonnummer: </b><%= @host.phone %> </p>
    <p><b>Adresse: </b><%= @host.address %>, <%= @host.zipcode %>, <%= @host.city %></p>
    <p><b>Har vært vert: </b>  
      <% if @host.beenhost %>
        Ja
      <% else %>
        nei
      <% end %></p>

    <p><b>Er student: </b>  
      <% if @host.isstudent %>
        Ja
      <% else %>
        nei
    <% end %></p>

    <p><b>Har dyr: </b>  
      <% if @host.animales %>
        Ja
      <% else %>
        nei
    <% end %></p>
    <p><b>Overnattingsmuligheter:</b>
      <% if @host.sleeping.eql? 0 %>
        Sofa
      <% elsif @host.sleeping.eql? 1 %>
        Seng
      <% else %> 
        Trenger å låne madrass
      <% end %></p>

    <p><b>Kapasitet: </b><%= @host.capacity %> </p>
    <p><b>Kjønn:</b>
      <% if @host.sex.eql? 0 %>
        Ingen kjønn er foretrukket
      <% elsif @host.sex.eql? 1 %>
        Kvinne
      <% else %> 
        Mann
      <% end %></p>
    <p><b>Kommentarer: </b><%= @host.comments %> </p>

    <p><%= link_to 'Tilbake til forsiden', root_path, class: 'btn btn-primary btn-lg' %></p>

  </div>
</div>
